.cards, .cards *{
   box-sizing: border-box;
}

body {
    font-family: "Inter";
    color: #ffffff;
    
 }
 
 .header {
    padding-top: 55px;
    padding-left: 146px;
    background-image: url(../img/photo_2022-06-05_13-14-26\ 1\ \(1\).png);
    background-position: center;
    background-size: cover;
 
    nav {
       ul {
          display: flex;
          list-style: none;
          gap: 15px;
       }
 
       li {
          font-weight: 200;
          font-size: 24px;
          line-height: 29px;
       }
    }
    h1 {
       font-weight: 200;
       font-size: 70px;
       line-height: 85px;
       width: 561px;
       padding-top: 71px;
 
       & + p {
          font-weight: 300;
          font-size: 21px;
          line-height: 25px;
          width: 570px;
          margin: 22px 0 49px;
       }
    }
 
    .btn {
       background-color: #b47b48;
    }
 
    & .btn-header {
       padding: 16px 34px 16px 34px;
       border-radius: 17px;
       border: none;
    }
 
    & .btn {
       font-weight: 300;
       font-size: 24px;
       line-height: 29px;
       color: #ffffff;
    }


 

 .cards{
   display: flex;
   justify-content: space-between;
   width: 80%;
   height: 225px;
   margin-top: 125px;

   .card{
      width: 310px;
      background: #272727;
      display: flex;
      align-items: center;

      &:hover{
         background: #ebad51;
      }

      div{
         text-align: center;
         width: 100%;
         
         p{
            @include textStyle(200, 24px, 29px);
            padding-bottom: 13px;
         }

         h5{
            @include textStyle(500, 16px, 19px,);
            padding-bottom: 35px;
         }

         buttom{
            @include textStyle(900, 16px, 19px,);
            color: #ffffff;
            background:#C85312;
            border: none;
            padding: 10px 22px 5px;
         }
      }

        &:nth-of-type(1) img{
             width: 162px;
        }

        &:nth-of-type(2) img{
           width: 215px;
        }

   }
}
}

.menu{
   background-image: url(../img/Rectangle\ 25.png);
   
  
}

 .btn-item{
   border: 2px solid black;
   background-color: #b47b48;
   color: #ffffff;
   border-radius: 15px;
   line-height: 31px;
   font-weight: 500;
   font-size: 25.92px;
   font-family: 'Inter';

   width: 160px;
   height: 41px;
   margin-top: 14px;
   margin-left: 75px;
}

.M {
  border: 1px solid #FFFFFF;

  width: 328px;
  height: 250px;
  margin-top: 57px;

  justify-content: center;
  align-items: center;
}

.items{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 900px;
   margin-left: auto;
   margin-right: auto;
   
}

.menu h1{
   
   text-align: center;
   font-weight: 100;
   font-size: 50px;
   line-height: 77px;
   
}

.M img {
   width: 328px;
   height: 229px;
}

.M p{
   text-align: center;
}
