.modal{
    border: 2px solid black;
    
    height: 669px;
    width: 990px;
    background: #ffffff;
    border-radius: 50px;
    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);


    @include flexCenter ();

    form{
        flex-direction: column;
    }
}